body{

background:#f4f7fb;
font-family:
"Segoe UI",
sans-serif;

}



.topo{

background:
linear-gradient(
135deg,
#005bea,
#00c6fb
);

color:white;

padding:50px 0;

border-radius:0 0 40px 40px;

}



.topo h1{

font-size:40px;
font-weight:700;

}



.pesquisa{

background:white;
padding:20px;

border-radius:20px;

}



.orgao-card{

background:white;

border-radius:25px;

padding:25px;

height:100%;

transition:.3s;

border:none;

}



.orgao-card:hover{

transform:translateY(-8px);

box-shadow:
0 15px 35px
rgba(0,0,0,.12);

}



.logo{

height:90px;

width:90px;

object-fit:contain;

}



.tag{

background:#e8f1ff;

padding:5px 12px;

border-radius:20px;

font-size:13px;

}



.sistema{

display:flex;

justify-content:space-between;

align-items:center;

background:#f8f9fa;

padding:10px;

margin-top:8px;

border-radius:12px;

}


.btn-acesso{

border-radius:20px;

}